* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body > * {
  flex: 1;
}

ul {
    display: flex;
    gap: 1rem;
}

li {
    list-style: none;
}

.header-container,
.footer-container,
.hero-container {
    background-color: #1F2937;
    color: white;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 48px;
    flex-grow: 0;
}

.header-logo {
    font-size: 24px;
    color: F9FAF8;
}

.header-links {
  justify-content: center;
  align-content: center;
}

.header-link,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 48px;
}

.hero-text,
.hero-image {
    flex: 1;
}
.hero-image {
    align-content: center;
    text-align: center;
    background-color: #e5e7eb1f; /* change to proper color later */
}

.hero-header,
.hero-secondary-text,
.hero-button {
    margin: 0.3rem auto;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-button,
.signup-button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 90px;
    height: 25px;
    border: none;
}

.information-container {
  flex-grow: 0;
  padding: 1rem 48px;
}

.information-header {
  text-align: center;
  padding: 0.3rem;
  font-size: 24px;
  font-weight: bold;
}

.image-and-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.image-square-rounded {
  border: 2px solid #3882F6;
  width: 128px;
  height: 128px;
  border-radius: 8px;
  align-self: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 48px;
  justify-content: center;
  align-content: center;
  background-color: #E5E7EB;
} 

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.signup-container {
  padding: 48px 96px;
  display: flex;
  width: 800px;
  height: 40px;
  background-color: blue;
  border-radius: 8px;
  margin: 48px;
  align-self: center;
  justify-content: space-between;
  flex-grow: 0;
}

.signup-text-header {
  font-weight: bold;
  font-size: 24px;
}

.signup-text-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.signup-button {
  border: 1px solid white;
  align-self: center;
}

.footer-container {
  flex-grow: 0;
  padding: 18px;
  text-align: center;
}
