* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body>* {
  flex: 1;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

.header-container,
.footer-container,
.hero-container {
  background-color: #1F2937;
  color: white;
}

.header-background-wrapper {
  background-color: #1F2937;
  padding: 24px 48px;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex: 1;
  max-width: 1000px;
  padding: auto 48px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links {
  justify-content: center;
  align-content: center;
}

.header-link,
.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-background-wrapper {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 48px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1000px;
  min-height: 400px;
  align-self: center;
  gap: 40px;
}

.hero-text,
.hero-image {
  flex: 1;

}

.hero-image {
  align-content: center;
  text-align: center;
  background-color: #e5e7eb1f;
  min-height: 300px;
}

.hero-header,
.hero-secondary-text,
.hero-button {
  margin: 0.3rem auto;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-button,
.signup-button {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 35px;
  border: none;
  font-size: 15px;
}

.information-container {
  padding: 48px 10px;
  max-width: 1000px;
  flex: 1;
  align-self: center;
}

.information-container ul {
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.information-container ul li {
  justify-content: center;
  width: 220px;
}

.information-header {
  text-align: center;
  padding-bottom: 48px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;

}

.image-and-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.image-and-subtext p {
  text-align: center;
}

.image-square-rounded {
  border: 3px solid #3882F6;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  align-self: center;
}

.quote-background-wrapper {
  background-color: #E5E7EB;
  display: flex;
  padding: 48px;
  justify-content: center;
  align-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding: 48px;
  justify-content: center;
  align-content: center;
  background-color: #E5E7EB;
  max-width: 1000px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-author {
  align-self: flex-end;
  padding-right: 40px;
  font-weight: bold;
  font-size: 24px;
}

.signup-background-wrapper {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  padding: 15px;
}

.signup-container {
  display: flex;
  max-width: 1000px;
  min-height: 130px;
  background-color: #3882F6;
  border-radius: 8px;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.signup-text-header {
  font-weight: bold;
  font-size: 24px;
}

.signup-text-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.signup-button {
  border: 1px solid white;
  align-self: center;
}

.footer-container {
  flex-grow: 0;
  text-align: center;
  padding: 24px;
}